
h1{
    text-align: center;
}
#date{
    text-align: end;
}
p{
    line-height: 150%;
}
h3{
    line-height: 150%;
}
div{
    border-radius: 2px;
    border-color: blue;
    border-style: solid;
    width: 55%;
    
}
#sign{
    margin-top: 15%;
}